<h1> You have entered the directory!</h1>

<p><%=link_to 'Click here to add a New Movie', new_movie_path%></p>

<h2> Browse by genre: </h2>

<div class="show_movies">

  
</div>

<% @genres.each do |genre| %>
  <p><%= link_to genre.name, genre_path(genre.id), class: "show_genre", id: "genre-list" %></p>
  <% end %>
  

  <h2> New to Directory</h2>
  <p>These movies are brand spankin' new!</p>

  <div class="container-show">
    
    <ol style="list-style-type:none">
    <% Movie.newest_movies.each do |movie| %>
      <li> <%= link_to movie.title, movie_path(movie.id) %> by <%=movie.director%></li>
    <% end %>
  </ol>
  </div>