<h1>Add a New Movie</h1>

<%= render 'form'  %>

<p><%= link_to "Cancel", director_path(@director) %></p>
<!-- cancel takes you back to the director's show page # movie section -->
<!-- or should it go to movie_path(@movie)-->