<h1>Film Fan</h1>
<br>
<p>Saving all of your favorite directors and their works!</p>

 <%= render 'sessions/oauth-link' %>
 <%= link_to "Sign Up", signup_path %> | <%= link_to "Log In", login_path %>
 
 