<div class="container_show">
  <h1>Movies I've Watched</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Director</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
    <tr>
      <td><%= link_to movie.title, director_movie_path(movie.director, movie) %></td>
      <td><%= link_to movie.director.name, director_path(movie.director) %></td>
      <td><%= link_to "Edit", edit_director_movie_path(movie.director, movie) %></td>
      <td><%= link_to "Delete", director_movie_path(movie.director, movie), method: :delete, data: {confirm: "Are you sure you want to delete this Movie?"} %></td>
    <% end %>
  </tbody>
</table>